<div class="">  
    <div>
      <h2 class="text-center">Caja Cuentas</h2>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
      </div>
      <div class="col m-auto" style="text-align: right;">
        <button (click)="exportAsExcelFiltered()" class="px-4" color="primary" mat-raised-button>Exportar a Excel <i class=" ms-1 fa-solid fa-file-excel"></i></button>
        <button class="px-4 ms-3"  routerLink="/dashboard/caja-cuentas/caja-cuentas-add" mat-raised-button>Agregar Registro</button>
      </div>
    </div>

    <div *ngIf="spinner" class="spinner table-container">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>  
    <div *ngIf="!spinner" class="my-table table-container">      
      <table mat-table [dataSource]="dataSourceCajaCuentas" class="w-100" matSort>
  
        <ng-container class="me-3" matColumnDef="No.">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef=" let i = index "> {{ i + 1 }} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id de Registro </th>
          <td mat-cell *matCellDef="let element"> {{ element.CJA_ID }} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.CJA_FECHA | date:'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="beneficiario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Beneficiario</th>
          <td mat-cell *matCellDef="let element"> {{element.CJA_BENEFICIARIO }} </td>
        </ng-container>

        <ng-container class="me-3" matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef>Concepto</th>
            <td mat-cell *matCellDef="let element"> {{element.CJA_CONCEPTO}} </td>
          </ng-container>
  
        <ng-container class="me-3" matColumnDef="ingreso">
          <th mat-header-cell *matHeaderCellDef>Ingreso</th>
          <td mat-cell *matCellDef="let element"> $ {{element.CJA_INGRESO}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="egreso">
          <th mat-header-cell *matHeaderCellDef>Egreso</th>
          <td mat-cell *matCellDef="let element"> $ {{element.CJA_EGRESO}} </td>
        </ng-container>  
        
        <ng-container class="me-3" matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef>Saldo</th>
          <td mat-cell *matCellDef="let element"> $ {{element.CJA_SALDO}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/dashboard/caja-cuentas/caja-cuentas-edit/{{ element.CJA_ID }}" href="" class="pointer">
              <mat-icon>edit</mat-icon>
            </a>   
            <a (click)="eliminarRegistro(element.CJA_ID)" style="color:rgb(194, 45, 45)" class="pointer">
              <mat-icon>delete</mat-icon>
            </a>        
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
  
  
  
  
