<div class="clientes_component">
    <div>
      <h2 class="text-center">Listado de Ahorros</h2>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
      </div>
      <div class="col m-auto" style="text-align: right;">
        <button (click)="exportAsExcelFiltered()" class="px-4" color="primary" mat-raised-button>Exportar a Excel <i class=" ms-1 fa-solid fa-file-excel"></i></button>
        <button class="px-4 ms-3"  routerLink="/dashboard/ahorros/addAhorro" mat-raised-button>Agregar Ahorro</button>
      </div>
    </div>

    <div *ngIf="spinner" class="spinner table-container">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div> 
  
    <div *ngIf="!spinner" class="my-table table-container">
      <table mat-table [dataSource]="dataSourceAhorros" class="w-100" matSort>
  
        <ng-container class="me-3" matColumnDef="No.">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef=" let i = index "> {{ i + 1 }} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="nombre_cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres Cliente</th>
          <td mat-cell *matCellDef="let element"> {{element.CLN_NOMBRE}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="doc_cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento Cliente</th>
          <td mat-cell *matCellDef="let element"> {{element.CLN_CEDULA}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="cel_cliente">
          <th mat-header-cell *matHeaderCellDef>Teléfono cliente</th>
          <td mat-cell *matCellDef="let element"> {{element.CLN_CELULAR}} </td>
        </ng-container>            
  
        <ng-container class="me-3" matColumnDef="abono1">
          <th mat-header-cell *matHeaderCellDef>Valor Abono 1</th>
          <td mat-cell *matCellDef="let element"> $ {{element.AHO_ABONO1}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="abono2">
          <th mat-header-cell *matHeaderCellDef>Valor Abono 2</th>
          <td mat-cell *matCellDef="let element"> $ {{element.AHO_ABONO2}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="abono3">
          <th mat-header-cell *matHeaderCellDef>Valor Abono 3</th>
          <td mat-cell *matCellDef="let element"> $ {{element.AHO_ABONO3}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="fechaabono1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Abono 1</th>
          <td mat-cell *matCellDef="let element"> {{element.AHO_FECHA_ABONO1 | date:'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="fechaabono2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Abono 2</th>
          <td mat-cell *matCellDef="let element"> {{element.AHO_FECHA_ABONO2 | date:'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="fechaabono3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Abono 3</th>
          <td mat-cell *matCellDef="let element"> {{element.AHO_FECHA_ABONO3 | date:'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="lugarabono1">
          <th mat-header-cell *matHeaderCellDef>Cuenta Abono 1</th>
          <td mat-cell *matCellDef="let element"> {{element.CTA_NOMBRE1}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="lugarabono2">
          <th mat-header-cell *matHeaderCellDef>Cuenta Abono 2</th>
          <td mat-cell *matCellDef="let element"> {{element.CTA_NOMBRE2}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="lugarabono3">
          <th mat-header-cell *matHeaderCellDef>Cuenta Abono 3</th>
          <td mat-cell *matCellDef="let element"> {{element.CTA_NOMBRE3}} </td>
        </ng-container>
  
  
        <ng-container class="me-3" matColumnDef="observación">
          <th mat-header-cell *matHeaderCellDef>Observación</th>
          <td mat-cell *matCellDef="let element"> {{element.AHO_OBSERVACIONES}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element;">
            <a routerLink="editAhorro/{{ element.AHO_ID }}" class="pointer">
              <mat-icon>edit</mat-icon>
            </a>
  
            <!-- <a (click)="eliminarAhorro(element.AHO_ID)" style="color:rgb(194, 45, 45)" class="pointer">
              <mat-icon>delete</mat-icon>
            </a> -->
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
  
  
  