<div class="clientes_component">
    <div>
      <h2 class="text-center">Roles de usuario</h2>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
      </div>
      <div class="col m-auto" style="text-align: right;">
        <button class="px-4"  routerLink="/dashboard/settings/roles/addRol" mat-raised-button>Agregar Rol</button>
      </div>
    </div>

    <div *ngIf="spinner" class="spinner table-container">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div> 
  
    <div *ngIf="!spinner" class="my-table table-container">
      <table mat-table [dataSource]="dataSourceTours" class="w-100" matSort>
  
        <ng-container class="me-3" matColumnDef="No.">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef=" let i = index "> {{ i + 1 }} </td>
        </ng-container>

        <ng-container class="me-3" matColumnDef="rol_nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef=" let element"> {{ element.ROL_NOMBRE }} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="rol_apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{ element.ROL_APELLIDO }} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="rol_cedula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula</th>
          <td mat-cell *matCellDef="let element"> {{ element.ROL_CEDULA }} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="rol_correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element"> {{element.ROL_CORREO}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="rol_celular">
          <th mat-header-cell *matHeaderCellDef>Celular</th>
          <td mat-cell *matCellDef="let element"> {{element.ROL_CELULAR}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="rol_cargo">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let element"> {{element.ROL_CARGO}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="rol_valorComisionable">
          <th mat-header-cell *matHeaderCellDef> Valor comisionado </th>
          <td mat-cell *matCellDef="let element"> {{element.ROL_VALORCOMISION}} </td>
        </ng-container>
  
        <ng-container class="me-3" matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="editRol/{{ element.ROL_ID }}" href="" class="pointer">
              <mat-icon>edit</mat-icon>
            </a>
  
            <a (click)="eliminarRol(element.ROL_ID)" style="color:rgb(194, 45, 45)" class="pointer">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
    </mat-paginator>
    </div> 

